
/* Text should appear at the bottom of the box*/
.console {
  background-color: #000;
  color: #fff;
  font-family: monospace;
  font-size: 14px;
  height: 200px;
  overflow: auto;
  padding: 10px;
  width: 70%;
  
}